/*==================== set css variables ====================*/
:root {
  --color-1: rgb(16, 185, 129);
  --color-1-alt: rgb(9, 143, 99);
  --color-2: rgb(132, 94, 194);
  --color-2-alt: rgb(88, 41, 164);
}

/*==================== utility classes ====================*/
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.first-btn {
  background-color: var(--color-1);
  color: white;
  border: none;
  outline: none;
}
.first-btn:hover,
.first-btn:focus {
  background-color: var(--color-1-alt);
  color: white;
}
.second-btn {
  background-color: var(--color-2-alt);
  color: white;
  border: none;
  outline: none;
}
.second-btn:hover,
.second-btn:focus {
  background-color: var(--color-2);
  color: black;
}
.first-text {
  color: var(--color-1);
}
.second-text {
  color: var(--color-2);
}

/*==================== navbar section ====================*/
.header {
  height: 100vh;
}
nav {
  background: var(--color-1);
}
.nav-link {
  color: white;
  transition: all 0.5s ease-in-out;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-2);
}

/*==================== hero section ====================*/
.hero {
  height: 100vh;
}
.hero .container .row {
  height: 80vh;
}

/*==================== cart modal ====================*/
.card-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-weight: bold;
  font-size: 24px;
}
.card-image {
  height: 200px;
}

/*==================== feature product section ====================*/
.feature {
  background: var(--color-2);
}
.footer-top {
  border-bottom: 2px solid var(--color-2);
}

/*==================== footer section ====================*/
.footer {
  background: var(--color-1);
}

/*==================== go top button section ====================*/
#topBtn {
  background: var(--color-1);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 12px 16px;
  border-radius: 100%;
  position: fixed;
  font-size: 32px;
  right: 50px;
  bottom: 100px;
  border: none;
  outline: none;
  transition: all 0.7s ease-in;
}
#topBtn:hover,
#topBtn:focus {
  background: var(--color-1-alt);
}

/*==================== add animation ====================*/
.box {
  opacity: 0;
  transform: translateY(150px);
  transition: all 0.7s ease-in-out;
}
.box.show {
  opacity: 1;
  transform: translateY(0);
}
